.lista {
    width: 100%;
    margin-right: 30px;
    padding: 15px 30px;
    background: #fff;

    h1 {
      margin-bottom: 30px;
    }
    .table {
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 100px;
        border: solid 1px #010101;


    }
}